@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vazir';
  src: url('../public/assets/fonts/Vazir.woff2');
}
@font-face {
  font-family: 'vazirBold';
  src: url('../public/assets/fonts/Vazir-Bold.woff2');
}
@font-face {
  font-family: 'vazirThin';
  src: url('../public/assets/fonts/Vazir-Thin.woff2');
}
@font-face {
  font-family: 'vazirLight';
  src: url('../public/assets/fonts/Vazir-Light.woff2');
}

* {
font-family: 'vazir';
box-sizing: border-box;
}


.header-links-animation:before {
  content: "";
  position: absolute;
  bottom: 8px;
  height: 3px;
  width: 0%;
  background-color: #2852E4;
  transition: all 0.1s 0.1s ease-in;
  transform-origin: left;
  border-radius: 40px;
}

.header-links-animation:hover:before {
  width: 100%;
}

.hero-image-bg {
  background-image: radial-gradient(circle at 50% 35%, #3bb8ff, #3bb8ff00 60%);
}