@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vazir';
  src: url('../public/assets/fonts/Vazir.woff2');
}
@font-face {
  font-family: 'vazirBold';
  src: url('../public/assets/fonts/Vazir-Bold.woff2');
}
@font-face {
  font-family: 'vazirThin';
  src: url('../public/assets/fonts/Vazir-Thin.woff2');
}
@font-face {
  font-family: 'vazirLight';
  src: url('../public/assets/fonts/Vazir-Light.woff2');
}

* {
font-family: 'vazir';
box-sizing: border-box;
}


.header-links-animation:before {
  content: "";
  position: absolute;
  bottom: 8px;
  height: 3px;
  width: 0%;
  background-color: #2852E4;
  transition: all 0.1s ease-in;
  transform-origin: left;
  border-radius: 40px;
}

.header-links-animation:hover:before {
  width: 100%;
}

.hero-image-bg {
  background-image: radial-gradient(circle at 50% 35%, #3bb8ff, #3bb8ff00 60%);
}
.hero-image-bg-sm {
  @media screen and (max-width: 1023px) {
    background-image: radial-gradient(circle at 50% 35%, #3bb8ff, #3bb8ff00 50%);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.image-bounce {
  animation: bounce 1s ease-in-out infinite;
}

.curve {
  border-bottom-left-radius: 82% 46px;
  border-bottom-right-radius: 82% 46px;
}


input[type='range'] {
  @apply appearance-none w-full h-2 bg-gray-200 rounded-lg;
}

input[type='range']::-webkit-slider-thumb {
  @apply appearance-none w-5 h-5 bg-blue-500 rounded-full cursor-pointer shadow;
}

input[type='range']::-moz-range-thumb {
  @apply w-5 h-5 bg-yellow-400 rounded-full cursor-pointer shadow;
}

input[type='range']::-ms-thumb {
  @apply w-5 h-5 bg-blue-500 rounded-full cursor-pointer shadow;
}

input[type='range']:focus {
  @apply outline-none;
}

input[type='range']::-webkit-slider-thumb:hover {
  @apply bg-blue-600;
}

/* Custom Swiper navigation button styles */

.swiper-button-next,
.swiper-button-prev {
  @apply bg-[#2852E4] text-white rounded-lg px-5 text-sm shadow-lg transition-all;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply bg-blue-600;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px !important;
  font-weight: 200;
  color: white;
}


.no-scrollbar {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}